@page
@model SupportModel
@{
    ViewData["Title"] = "Support";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-12">
        <section>
            <form id="contact" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FromEmail"></label>
                    <input asp-for="Input.FromEmail" type="text" class="form-control" placeholder="Your Email" maxlength="50" />
                    <span asp-validation-for="Input.FromEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FromName"></label>
                    <input asp-for="Input.FromName" type="text" class="form-control" placeholder="Your Name" maxlength="50" />
                    <span asp-validation-for="Input.FromName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Subject"></label>
                    <input asp-for="Input.Subject" type="text" class="form-control" placeholder="Subject" maxlength="100" />
                    <span asp-validation-for="Input.Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Message"></label>
                    <textarea asp-for="Input.Message" type="text" class="form-control" placeholder="What's on your mind?" rows="3" maxlength="500"></textarea>
                    <span asp-validation-for="Input.Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Send Message</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

